* {


	/* These will reset the behaviour of padding so your width doesn't get bigger if you add padding */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


html body {
	/*background-color: #9fccd1;*/
	background-color: #b1c5c7;
	margin: 0px;
	padding: 0px;
	font-family: 'Exo', sans-serif; 

}


footer {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;

}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/*text-shadow: 1px 1px 2px white;*/

}

.link {
	color: #415d5e;
	text-decoration: none;

}

.title {
	margin-top: 0px;
  	padding-top: 20px;
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 0.4);
	letter-spacing: 10px;

}

.container {
	position: relative;
}

.welcome {
	color: #bfbfbf;
	background-color: rgba(181, 0, 0, 0.6);
	margin-top: 5px;
	padding: 10px;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: text 6s 1;
}

.mainimage {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;

}

@keyframes text {
	0%{
		color: white;
		margin-bottom: -40px;
	}

	30%{
		letter-spacing: 15px;
		margin-bottom: -40px;
	}
}

@media only screen and (max-width: 1200px){

	.title {
		letter-spacing: 5px;

	}

	.welcome {
	font-size: 25px;
	font-weight: 50;
	letter-spacing: 2px;

	}

	@keyframes text {
	0%{
		color: white;
		margin-bottom: -40px;
	}

	30%{
		letter-spacing: 5px;
		margin-bottom: -40px;
	}
}

@media only screen and (max-width: 800px){

	.title {
		letter-spacing: 0px;
	}

	.mainimage {
		width: 75%;
	}

	.welcome {
		display: none;
	}

	nav {
		padding: 20px 0px 0px 0px;
		font-size: 20px;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		font-weight: thin;
	}

	footer {
		position: initial;
		width: initial;
	}

}